<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
      res.redirect('/')
  } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
      <% errors.array().forEach(error => {%>
      <li><%= error.msg %></li>
      <% }) %>
  </ul>
  <% } %>

<form action="/inv/addinventory" method="post">
  <p>All Fields Are Required</p>
  <fieldset>
      <label>Classification<%- classificationSelect %></label>
      <label>Make<input type="text" name="inv_make" id="inv_make" required value="<%= locals.inv_make %>" placeholder="Min of 3 characters"></label>
      <label>Model<input type="text" name="inv_model" id="inv_model" required value="<%= locals.inv_model %>" placeholder="Min of 3 characters"></label>
      <label>Description<textarea name="inv_description" id="inv_description" required><%= locals.inv_description %></textarea></label>
      <label>Image Path<input type="text" name="inv_image" id="inv_image" required value="<%= locals.inv_image %>"></label>
      <label>Thumbnail Path<input type="text" name="inv_thumbnail" id="inv_thumbnail" required value="<%= locals.inv_thumbnail %>"></label>
      <label>Price<input type="text" name="inv_price" id="inv_price" required value="<%= locals.inv_price %>" placeholder="Decimal or integer"></label>
      <label>Year<input type="text" name="inv_year" id="inv_year" required value="<%= locals.inv_year %>" placeholder="4-digit year"></label>
      <label>Miles<input type="text" name="inv_miles" id="inv_miles" required value="<%= locals.inv_miles %>" placeholder="Digits only, no commas"></label>
      <label>Color<input type="text" name="inv_color" id="inv_color" required value="<%= locals.inv_color %>"></label>
      <label>Number in Stock<input type="text" name="inv_stock" id="inv_stock" required value="<%= locals.inv_stock %>" placeholder="Digits only, no commas"></label>
      <input type="submit" value="Add Vehicle" id="addInvBtn">
  </fieldset>
</form>