<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%- details %>
<% if(showOrderButton) {%>
    <h2>Order <%- makeModel %></h2>
    <p><a href="/order/confirm/<%- inventory_id %>" title="Click to order <%- makeModel %>">Place Order</a></p>
<% } %>